.transitionViewport {
	position: fixed;
	inset: 0;
	z-index: 10000;
	overflow: hidden;
	pointer-events: none;
	will-change: clip-path;
}

.transitionCover {
	position: absolute;
	box-sizing: border-box;
	pointer-events: none;
	background-color: #111;
	background-position: center;
	background-size: cover;
	transform-origin: top left;
	will-change: transform, border-radius, filter, opacity;
}

.targetMaterial {
	position: absolute;
	inset: 0;
	border-radius: inherit;
	overflow: hidden;
	pointer-events: none;
}

.sourceMaterial {
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background: rgb(100 100 100 / 0.1);
	box-shadow: inset 0 0 0 1px #504e4e25;
	pointer-events: none;
	will-change: opacity;
}
